<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>Ninja Gold</title>
</head>
<body>
    <p> <strong>Gold</strong>: {{gold}}</p>
    <h2>look for coins</h2>
    <a href="/farm">Farm: +10-20 gold</a><br>
    <a href="/cave">Cave: +5-10 gold</a><br>
    <a href="/house">House: + 2-5 gold</a><br>
    <a href="/casino">Casino: +/- 0-50 gold</a><br>
    <a href="/reset">clear</a><br>
    <p>Event{{event}}</p>
    <p>Activites:</p>
    <p>{{activities}}</p>
    
</body>
</html>